# Environment
docker/config/
.vscode/
.envrc
.direnv/
.idea
.env
*.env.json
.DS_Store
package-lock.json
languages/*.php
screenshots/
videos/
node_modules/
volumes/
.DS_Store
*.zip
*.xlsx
.php-cs-fixer.cache
*.po~
*.pot~
.aider*
index.html

# Testing artifacts
vendor/
coverage/
.phpunit.result.cache
.phpunit.cache/
