# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
minimum_pre_commit_version: 3.2.0
default_install_hook_types: [pre-commit, commit-msg, prepare-commit-msg]
default_stages: [pre-commit]
repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
  - repo: local
    hooks:
      - id: php-lint
        name: php-lint
        stages: [prepare-commit-msg]
        entry: php
        args:
          - -l
        language: system
        types:
          - php
  - repo: git@github.com:two-inc/git-hooks
    rev: 24.07.26
    hooks:
      - id: commit-msg
        stages: [commit-msg]
      - id: prepare-commit-msg
        stages: [prepare-commit-msg]
