.select2-container .select2-selection--single {
    height: 40px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 40px;
}

#billing_company_display_field .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 40px;
}