.woocommerce-checkout .woocommerce-input-wrapper span.select2-selection--single {
    background: #f2f2f2;
    height: 48px;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 13%);
    border: unset;
    border-radius: unset;
}
.woocommerce-checkout .woocommerce-input-wrapper span.select2-selection__rendered {
    height: 48px;
    line-height: 48px;
}
.woocommerce-checkout span.select2-container .select2-selection__arrow {
    height: 48px;
    line-height: 48px;
}