.woocommerce-checkout #payment ul.payment_methods li.wc_payment_method.payment_method_woocommerce-gateway-tillit > label[for="payment_method_woocommerce-gateway-tillit"] > img {
    height: 12px;
    margin: 0 0 8px 4px;
}
.woocommerce-checkout .woocommerce-input-wrapper span.select2-container {
    border-radius: 15px;
    height: 70px;
    padding: .6rem;
    padding-top: 25px;
    border: 2px solid #f1f1f1;
    box-shadow: none;
}
.woocommerce-checkout .woocommerce-input-wrapper span.select2-selection--single {
    border: none;
}
.woocommerce-checkout span.select2-container .select2-selection__arrow {
    top: 26px;
    right: 12px;
}
.woocommerce-checkout span.select2-dropdown {
    border-radius: 15px;
    margin-top: 4px;
}
.woocommerce-checkout input.select2-search__field {
    border-radius: 12px;
}
.woocommerce-checkout ul.select2-results__options {
    margin-bottom: 20px;
}
.woocommerce-checkout #payment ul.payment_methods li.wc_payment_method.payment_method_woocommerce-gateway-tillit .twoinc-subtitle {
    margin-left: unset;
    color: #777;
}
#billing_phone_display {
    padding: 0;
}