.woocommerce form .woocommerce-company-fields,
.woocommerce form .woocommerce-representative-fields {
    display: none;
}

.woocommerce form .form-row#account_type_field .woocommerce-input-wrapper label {
    padding-left: .5em;
    margin-right: 2em;
    display: inline;
}
