.hidden {
    display: none;
}

.woocommerce form .form-row#account_type_field .woocommerce-input-wrapper label {
    padding-left: .5em;
    margin-right: 2em;
    display: inline;
}

.woocommerce-checkout #payment ul.payment_methods li.wc_payment_method.payment_method_woocommerce-gateway-tillit .payment_box {
    margin-top: 3em;
}

.woocommerce-checkout #payment ul.payment_methods li.wc_payment_method.payment_method_woocommerce-gateway-tillit {
    margin-bottom: 1em;
}

.woocommerce-checkout #payment ul.payment_methods li.wc_payment_method.payment_method_woocommerce-gateway-tillit label {
    position: relative;
}

.woocommerce-checkout #payment ul.payment_methods li.wc_payment_method.payment_method_woocommerce-gateway-tillit .tillit-subtitle {
    position: absolute;
    color: #ccc;
    margin-left: 31px;
    font-size: 0.9em;
}

.woocommerce-checkout #payment ul.payment_methods li.wc_payment_method.payment_method_woocommerce-gateway-tillit .tillit-buyer-name {
    font-weight: bold;
}
