.woocommerce form .woocommerce-company-fields,
.woocommerce form .woocommerce-representative-fields {
    display: none;
}

.woocommerce form .form-row#account_type_field .woocommerce-input-wrapper label {
    margin-right: calc(var(--global--spacing-horizontal));
    display: inline;
}
