name: Deploy
on:
  release:
    types: [published]
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
jobs:
  php-lint:
    runs-on: ${{ vars.RUNNER || 'ubuntu-latest' }}
    steps:
      - uses: actions/checkout@v3
      - uses: StephaneBour/actions-php-lint@8.2
        with:
          dir: '.'
  release:
    runs-on: ${{ vars.RUNNER || 'ubuntu-latest' }}
    if: ${{ github.event_name == 'release' }}
    needs: php-lint
    env:
      slug: tillit-payment-gateway
    steps:
      - uses: actions/checkout@v3
      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y subversion rsync
      - run: echo ${{ github.ref_name }}
      - name: WordPress Plugin Deploy
        id: deploy
        uses: 10up/action-wordpress-plugin-deploy@stable
        with:
          generate-zip: true
        env:
          SVN_PASSWORD: ${{ secrets.SVN_PASSWORD }}
          SVN_USERNAME: ${{ secrets.SVN_USERNAME }}
          SLUG: ${{ env.slug }}
      - name: Upload release asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ${{ steps.deploy.outputs.zip-path }}
          asset_name: ${{ env.slug }}.zip
          asset_content_type: application/zip
